language: minimal
services: docker
before_install:
  - docker -v 
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin # set Docker username and password in Travis console
  - echo 'dockerhub credentials configured'
install:
  - docker build -t simple-node-travis --build-arg FAVORITE_FOOD=$FAVORITE_FOOD .
  - docker tag simple-node-travis aluminetchidiebre/simple-node-travis:latest
  - docker push "$DOCKER_USERNAME"/simple-node-travis
script:
  - echo $FAVORITE_FOOD